@import "tailwindcss";

@theme {
  --font-sans: "Satoshi", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  --color-surface-0: var(--s0);
  --color-surface-1: var(--s1);
  --color-surface-2: var(--s2);
  --color-surface-3: var(--s3);
  --color-border: var(--bd);
  --color-border-subtle: var(--bd-s);
  --color-text-primary: var(--tp);
  --color-text-secondary: var(--ts);
  --color-text-tertiary: var(--tt);
  --color-accent: var(--ac);
}

:root {
  --s0: #ffffff;
  --s1: #f9fafb;
  --s2: #f3f4f6;
  --s3: #e5e7eb;
  --bd: #e5e7eb;
  --bd-s: #f3f4f6;
  --tp: #09090b;
  --ts: #6b7280;
  --tt: #9ca3af;
  --ac: #10b981;
}

.dark {
  --s0: #09090b;
  --s1: #111113;
  --s2: #18181b;
  --s3: #27272a;
  --bd: #27272a;
  --bd-s: #1e1e21;
  --tp: #fafafa;
  --ts: #a1a1aa;
  --tt: #52525b;
  --ac: #10b981;
}

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
  }
  body {
    -webkit-font-smoothing: antialiased;
    background: var(--s0);
    color: var(--tp);
    font-family: var(--font-sans);
  }
}

.sidebar-link {
  transition:
    color 0.15s,
    border-color 0.15s,
    background-color 0.15s;
}

.code-block:hover .copy-btn {
  opacity: 1;
}
.copy-btn {
  opacity: 0;
  transition: opacity 0.15s;
}

.tool-card {
  transition:
    border-color 0.2s ease,
    background-color 0.2s ease;
}
.tool-card:hover {
  border-color: var(--ac);
  background-color: var(--s2);
}
